/* Entfernt den Pfeil des Sprach-Dropdowns */
#lang-button::after,
#lang-button::before {
    content: none !important;
    display: none !important;
    border: 0 !important;
}

/* Zeigt nur die aktuell ausgewählte Sprache an */
.lang-de .lang.lang-ru {
    display: none;
}
.lang-ru .lang.lang-de {
    display: none;
}

/* Sicherheitshalber: Entfernt jegliche Carets, falls ein Plugin diese hinzufügt */
#langToggle::after,
#langToggle::before {
    content: none !important;
}
